{% extends "AndbosonFilmzBundle::base.html.twig" %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('/bundles/andbosonfilmz/css/layouts/side-menu.css') }}" />
{% endblock %}

{% block body %}

    <div id="layout">
        <!-- Menu toggle -->
        <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
        </a>

        <div id="menu">
            <div class="pure-menu pure-menu-open">
                <a class="pure-menu-heading" href="/">Filmz</a>
                <ul>
                {% block menu %}
                    {% if category is not defined %}
                        {% set menu_selected = '' %}
                    {% endif %}
                {{ render(controller('AndbosonFilmzBundle:Category:list', { 'selected': menu_selected })) }}
                {% endblock %}
                </ul>
                <ul>
                {% block admin %}
                    <li><a href="{{ path('films_new') }}">Добавить фильм</a></li>
                    <li><a href="{{ path('cat_new') }}">Добавить категорию</a></li>
                    <li><a href="{{ path('genre_new') }}">Добавить жанр</a></li>
                {% endblock %}
                </ul>
                <ul>
                    {% if app.user is not null  %}
                        <li><a href="/logout">Logout</a>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div id="main">
            <div class="header">
                <h1>Filmz</h1>
                <h2>A films catalog</h2>
            </div>

            <div class="content">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash-message">
                        <em>Notice</em>: {{ flashMessage }}
                    </div>
                {% endfor %}
                {% block content %}
                    {% block fos_user_content_cust %}
                        {% if error %}
                            <div>{{ error|trans }}</div>
                        {% endif %}
<br>
                    <form action="{{ path("fos_user_security_check") }}" method="post" class="pure-form new-film">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
<div>
                        <label for="username">Логин</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
</div>
<div>
                        <label for="password">Пароль</label>
                        <input type="password" id="password" name="_password" required="required" />
</div>
<div>
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">Запомнить</label>
</div>
                        <div>
                        <input type="submit" id="_submit" name="_submit" value="Войти" />
                       </div>
                        </form>
                    {% endblock %}
                {% endblock %}
            </div>
        </div>
    </div>

    {% if code is defined %}
        <h2>Code behind this page</h2>
        <div class="block">
            <div class="symfony-content">{{ code|raw }}</div>
        </div>
    {% endif %}
{% endblock %}
