{% extends 'AndbosonFilmzBundle::layout.html.twig' %}

{% block content %}
    <h1>Film list</h1>

    <div class="records_list">
        {% for entity in entities %}
            <div class="film">
                <a href="{{ path('films_show', { 'id': entity.id }) }}">
                    <img width="200" src="{{ entity.poster }}" alt="{{ entity.name }}"/>
                    <p>{{ entity.name }}{{ entity.rating }}</p>

                </a>
                </td>
            </div>
        {% endfor %}
    </div>
    {% endblock %}

{% block admin %}
    {{ parent() }}
{% endblock %}