{% extends 'AndbosonFilmzBundle::layout.html.twig' %}

{% block title %}{{ parent() }}::{{ entity.name }}{% endblock %}

{% block content %}
    <h1>{{ entity.name }}</h1>

    <div class="img-film"><img src="{{ entity.poster }}" alt="{{ entity.name }}"/></div>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Режиссер:</th>
                <td>{{ entity.director }}</td>
            </tr>
            <tr>
                <th>Рейтинг:</th>
                <td>
                    {% for i in 0..entity.rating %}
                        <img src="http://www.jerrywickey.com/images/custar.jpg" alt="{{ i }}"/>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Дата выхода:</th>
                <td>{{ entity.releaseDate|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Ссылка:</th>
                <td>{{ entity.link }}</td>
            </tr>
            <tr>
                <th>Сатегория:</th>
                <td><a href="{{ path('films_category', {'id': entity.category.getId()}) }}">{{entity.category}}</a></td>
            </tr>
            <tr>
                <th>Жанр:</th>
                <td>
                    {% for genre in entity.genre %}
                        <a href="{{ path('films_category_genre', {'id': entity.category.getId(), 'gid': genre.getId() }) }}">{{genre.getName()}}</a>
                    {% endfor %}
                    </td>
            </tr>
        </tbody>
    </table>
    <div class="description">
        <h3>Описание</h3>
        <p>{{ entity.description }}</p>
    </div>

    {% if comments %}
        <h4>Комментарии</h4>
    <table class="comments_list">
        <tbody>
        {% for comment in comments %}
            <tr class="comment-head">
                <td class="comment-head-left"><small><sup>{% if comment.dateAdded %}{{ comment.dateAdded|date('m/d H:i') }}{% endif %}</small></sup>
                    {{ comment.authorName }}</td>
                <td class="comment-head-right">
                    {% for i in 0..comment.rate %}
                        <img src="http://www.jerrywickey.com/images/custar.jpg" alt="{{ i }}"/>
                    {% endfor %}
                </td>

            </tr>
            <tr>
                <td colspan="2"><blockquote class="content-quote">{{ comment.message }}</blockquote></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
   <div class="createcommet">
    <h2>Добавить комментарий</h2>
    {{ form_start(formComment, { 'attr': {'class': 'pure-form'} }) }}
    {{ form_errors(formComment) }}

    <p>
        Оценка фильма:
        {{ form_errors(formComment.rate) }}
        {{ form_widget(formComment.rate) }}
    </p>
    <span>
        {{ form_errors(formComment.authorName) }}
        {{ form_widget(formComment.authorName) }}
    </span>
    <span>
        {{ form_errors(formComment.authorEmail) }}
        {{ form_widget(formComment.authorEmail) }}
    </span>
<p>
   <div>
       {{ form_errors(formComment.message) }}
       {{ form_widget(formComment.message) }}
   </div>
</p>
    <div>
        {{ form_widget(formComment.film) }}
    </div>
    {{ form_widget(formComment.submit, {'label' : 'Добавить', 'attr' : {'class' : 'pure-button pure-button-primary'}}) }}
    {{ form_end(formComment) }}
   </div>
{% endblock %}

{% block admin %}
    {{ parent() }}
    <li><hr/></li>
        <li>
            <a href="{{ path('films_edit', { 'id': entity.id }) }}">
                Редактировать
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            {{ form_widget(delete_form.submit, {'label' : 'Удалить', 'attr' : {'class' : 'pure-button pure-button-primary'}}) }}
            {{ form_end(delete_form) }}
        </li>
{% endblock %}

